################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlackMarket/BlackMarket.Infrasructure/obj/Debug
/BlackMarket/.vs/BlackMarket/v15/Server/sqlite3
